@charset "UTF-8";
/* @import "//at.alicdn.com/t/font_556925_ni940c4vqloko6r.css"; */
body, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, select, textarea, button, th, td, menu {
  margin: 0;
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

ul, dl, ol {
  list-style: none; }

img, fieldset, input[type="submit"] {
  border: 0 none; }

em {
  font-style: normal; }

strong {
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, input[type="button"] {
  cursor: pointer;
  border: 0 none; }

a, button, input, img {
  -webkit-touch-callout: none; }

img {
  /*pointer-events:none;*/
  /*禁止图片的点击事件，例如长按保存图片*/ }

input, select, textarea {
  outline: none; }

a {
  text-decoration: none;
  color: #000000; }

.fl {
  float: left; }

.fr {
  float: right; }

.clear {
  clear: both; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

.imgw {
  overflow: hidden; }
  .imgw img {
    width: 100%;
    vertical-align: middle; }

.imgh {
  overflow: hidden;
  text-align: center; }
  .imgh img {
    height: 100%; }

html, body {
  /*禁止用户选择元素*/
  -webkit-tap-highlight-color: transparent; }

html {
  height: 100%;
  width: 100%;
  font-family: 'Heiti SC', 'Microsoft YaHei';
  outline: 0;
  -webkit-text-size-adjust: none; }

body {
  height: 100%;
  margin: 0;
  position: relative; }

* {
  margin: 0;
  padding: 0;
  list-style: none; }

.lunbo_wrap {
  position: relative;
  /*border: 1px solid firebrick;*/
  overflow: hidden;
  width: 100%; }

.pic_box {
  height: 100%;
  width: 9999px; }

.pic_box li {
  position: relative;
  height: 100%;
  float: left; }

.pic_box li img {
  width: 100%;
  display: block; }

.pannel {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 10%;
  text-align: center; }

.pannel li {
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #b7b7b7;
  margin-right: 4px; }

#left_arrow,
#right_arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -18px;
  display: block;
  width: 24px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
  background: #000;
  opacity: .3; }

#left_arrow:hover,
#right_arrow:hover {
  opacity: .5; }

#left_arrow {
  left: 80px; }

#right_arrow {
  right: 80px; }

.pannel .active {
  background: red;
  border-color: red; }

.pl0 {
  padding-left: 0; }

.pr0 {
  padding-right: 0; }

.mb45 {
  margin-bottom: 45px; }

.mr {
  margin-right: 50px; }

.imgwrap {
  text-align: center; }
  .imgwrap img {
    width: 100%; }

header {
  padding-top: 50px; }
  header .navbar-default {
    background-color: #222222;
    border: none; }
    header .navbar-default .navbar-nav > .active > a, header .navbar-default .navbar-nav > .active > a:hover {
      background-color: #080808;
      color: #fff; }
    header .navbar-default .navbar-nav > li > a {
      color: #9d9d9d; }
  header .navbar-brand {
    padding: 7px 6px; }
  header .navbar {
    margin-bottom: 0; }

.remen .remen_top .remen_left .leftpic {
  position: relative; }
  .remen .remen_top .remen_left .leftpic p {
    position: absolute;
    top: 20px;
    left: 9px;
    font-size: 20px;
    color: white;
    width: 21px;
    height: 100px; }
  .remen .remen_top .remen_left .leftpic .lefttext {
    position: absolute;
    width: 351px;
    height: 423px;
    top: 35px; }

.remen .remen_top .remen_right {
  text-align: right;
  margin-top: 30px; }
  .remen .remen_top .remen_right h2 {
    font-size: 29px;
    color: #2A2A2A;
    margin-bottom: 5px; }
  .remen .remen_top .remen_right p {
    font-size: 12px;
    color: #898989;
    line-height: 30px;
    margin-bottom: 23px;
    text-indent: 1em; }
  .remen .remen_top .remen_right .bigpic {
    margin-left: 35px; }
    .remen .remen_top .remen_right .bigpic .rig_pic {
      margin-bottom: 15px; }
      .remen .remen_top .remen_right .bigpic .rig_pic img {
        border-radius: 4px;
        overflow: hidden; }

.remen .go_mid {
  margin-top: 40px; }
  .remen .go_mid h2 {
    font-size: 29px;
    color: #2A2A2A;
    margin-bottom: 5px; }
  .remen .go_mid .go_right .lefttext {
    width: 334px;
    height: 440px; }
  .remen .go_mid .go_left {
    margin-top: 30px; }
    .remen .go_mid .go_left .bigpic {
      margin-left: 5px; }
      .remen .go_mid .go_left .bigpic p {
        font-size: 12px;
        color: #898989;
        line-height: 30px;
        margin-bottom: 23px; }
      .remen .go_mid .go_left .bigpic .rig_pic {
        margin-bottom: 15px; }
        .remen .go_mid .go_left .bigpic .rig_pic img {
          border-radius: 4px;
          overflow: hidden; }

.anli h2 {
  font-size: 36px;
  color: #010101;
  margin-top: 80px;
  margin-bottom: 30px; }

.anli .anli_big {
  margin-bottom: 40px; }
  .anli .anli_big .anli_small {
    position: relative;
    text-align: center;
    overflow: hidden; }
    .anli .anli_big .anli_small:hover .pull_right {
      border-radius: 4px;
      -webkit-transform: translateX(0);
      transform: translateX(0); }
    .anli .anli_big .anli_small > p {
      font-size: 14px;
      color: #2A2A2A;
      margin-top: 10px; }
  .anli .anli_big .anli_pic img {
    border-radius: 4px;
    overflow: hidden; }
  .anli .anli_big .pull_right {
    position: absolute;
    top: 0;
    left: 0;
    height: 81%;
    width: 100%;
    text-align: left;
    padding: 13px 13px 0;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear; }
    .anli .anli_big .pull_right p {
      font-size: 12px;
      line-height: 20px;
      height: 80px;
      color: white;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical; }

.brief_big {
  background: #3b3b3b; }
  .brief_big .brief {
    padding: 20px 0; }
    .brief_big .brief .company ul {
      margin-top: 10px; }
      .brief_big .brief .company ul li {
        float: left;
        list-style: none;
        margin-right: 14px; }
        .brief_big .brief .company ul li a {
          color: #a1a3ab;
          font-size: 14px; }
    .brief_big .brief .company p {
      color: #a1a3ab;
      font-size: 12px; }
      .brief_big .brief .company p a {
        color: #a1a3ab; }
    .brief_big .brief .company .lianxi_big {
      font-size: 0;
      line-height: 73px; }
      .brief_big .brief .company .lianxi_big .lianxi {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background: #d8d8e0;
        text-align: center;
        line-height: 38px;
        display: inline-block;
        margin-right: 19px; }
        .brief_big .brief .company .lianxi_big .lianxi:last-of-type {
          margin-right: 0; }
        .brief_big .brief .company .lianxi_big .lianxi i {
          color: #4c4c52;
          font-size: 25px; }

@media (min-width: 768px) and (max-width: 992px) {
  .nav > li > a {
    padding-left: 5px;
    padding-right: 5px; } }

@media (max-width: 767px) {
  .web .remen .remen_top .remen_left .leftpic .lefttext {
    display: none; }
  .web .remen .remen_top .remen_right h2 {
    font-size: 20px; }
  .web .remen .remen_top .remen_right .bigpic .rig_pic {
    padding-left: 0; }
  .web .go_mid {
    margin-top: 20px; }
    .web .go_mid h2 {
      font-size: 20px; }
    .web .go_mid .go_left {
      margin-top: 10px; }
      .web .go_mid .go_left .bigpic .rig_pic {
        padding-left: 0; }
    .web .go_mid .go_right .lefttext {
      display: none; }
  .web .anli h2 {
    font-size: 20px;
    margin-top: 20px; }
  .brief_big .brief .lianxi_big {
    display: none; } }

@media (min-width: 1200px) {
  .container {
    width: 1000px;
    padding-left: 14px; } }

@media (min-width: 768px) {
  .navbar {
    border-radius: 0; } }
